/* =======> common styles <====== */
* {
    margin: 0;
    padding: 0;
    color: var(--second-color);

}

body {
    max-width: 1270px;
    text-transform: capitalize;
    font-family: 'Work Sans', sans-serif;

}



/* ========> reuseable styles start<====== */
:root {
    --header-bgc: rgba(255, 144, 14, 0.1);
    --primary-color: #727272;
    --second-color: #131313;
    --third-color: #FF900E;
    --white: #ffff;

}

.description {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    padding: 24px 0 30px 0;
    color: var(--primary-color);



}

.title {
    font-style: normal;
    font-weight: 700;
    font-size: 45px;
    color: var(--second-color);
}

.container {
    max-width: 1200px;
    margin: 0 auto;
}

.button {
    background-color: var(--third-color);
    border: none;
    padding: 20px 40px;
    border-radius: 8px;
    font-weight: 600;
    font-size: 20px;
    margin-bottom: 50px;
}

.button>a {
    text-decoration: none;
    color: var(--white);
}

/* ========> reuseable styles end<====== */


/* ===========>header section <========== */
header {
    background: var(--header-bgc);
    width: 100%;
    padding: 40px 0 40px 0;
}

.navber {
    margin-bottom: 110px;
    padding: 0 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-title {
    width: 50%;
}

.nav-items {
    width: 40%;
    display: flex;
    justify-content: space-around;
}

.nav-items li {
    list-style: none;
}

.nav-items li a {
    text-decoration: none;
}

/* ==========> banner <======== */
.banner {
    text-align: center;

}

.banner-image img {
    width: 100%;
}

/* ===========< our features >============ */
.our-features {

    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 50px;
    margin: 90px 0 130px 0;
}

.features-images {
    width: 40%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
}

.features-images img {
    width: 242px;
    height: 242px;
}

.features-details {
    width: 50%;
}

.quick-list-color {
    font-weight: 500;
    color: var(--primary-color);
}

.features-color {
    color: var(--third-color);
}

/* article and blogs */
.feature-article-section {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 150px;
}

.feature-articles {
    width: 40%;
    height: 90%;
}

.article-title {
    padding-left: 20px;
    position: relative;
}

.article-title::after {
    content: '';
    position: absolute;
    height: 105px;
    width: 5px;
    border-radius: 1px;
    background-color: var(--third-color);
    top: 0;
    left: 0;

}

.blog {
    padding: 0px 10px 0px 20px;
    margin: 20px 0;
    box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.06);
    border-radius: 8px;

}

.blog>p {
    padding-top: 10px;
}

.article-img {
    width: 50%;
    position: relative;
}

.article-img img {
    width: 100%;
    height: 93%;
}

.article-img button {
    padding: 25px 45px;
    position: absolute;
    left: -80px;
    bottom: 20px;
    margin: 0;
}

.article-img button span {
    color: var(--white);

}

/* Some Facts  */
.facts {
    margin-top: 100px;
    margin-bottom: 180px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 50px;
    padding: 0 50px;
}

.fact {
    text-align: center;
    border: 1px solid var(--third-color);
    padding: 48px 35px;
    border-radius: 8px;
    position: relative;

}

.fact img {
    width: 45px;
    padding: 10px;
    border-radius: 8px;
    border: 3px solid var(--white);
}

.fact h1 {
    color: #424242;

}

.fact::after {
    content: "";
    position: absolute;
    width: 100px;
    height: 100px;
    background-color: rgb(255, 136, 123, 0.3);
    bottom: 2px;
    right: 2px;
    border-radius: 100% 0 8px 0;
    transition: 2s, 2s, 2s, 2s;
    z-index: -1;
}


.fact:hover.fact h1 {
    color: white;
    transition: 2s, 2s, 2s, 2s;
}

.fact:hover.fact p {
    color: white;
    transition: 2s, 2s, 2s, 2s;
}

.fact:hover::after {
    border-radius: 8px;
    width: 98%;
    height: 98%;
    background-color: rgb(250, 128, 114, 0.6);
}



/* ============================ */
/* responsive design */
/* ============================ */
@media screen and (max-width: 576px) {
    .navber {
        padding: 0;
        flex-direction: column;
    }

    .title {
        width: 90%;

    }


    .nav-items {
        flex-direction: column;
        padding: 10px;
    }

    .nav-items li {
        padding: 5px;
    }

    /* features-images */
    .our-features {
        flex-direction: column;


    }

    .features-images {
        grid-template-columns: repeat(1, 1fr);
        width: 100%;
    }

    .features-images img {
        width: 90%;
    }

    .features-details {
        padding-top: 50px;
        width: 100%;
    }

    /* .feature-article-section */
    .feature-article-section {
        flex-direction: column;
        padding: 20px;
    }

    .feature-articles,
    .article-img {
        width: 100%;
    }

    .article-title {
        font-size: 35px;
    }

    .article-title::after {
        height: 80px;
    }

    .article-img>button {
        bottom: 0;
        left: 0;
    }

    /* .facts */
    .some-facts>div {
        padding: 0 40px;
    }

    .facts {
        grid-template-columns: repeat(1, 1fr);
    }
}